*{
    margin: 0px;
    padding: 0px;
}




input[type="date"] {
  padding: 8px  solid;
  font-size: 16px;
}
.headingbill{
  position: relative;
  box-sizing: border-box;
  margin: 20px 20px -5px 20px;
  border-radius: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgb(18, 71, 71);
  border: solid white 5px;
  z-index: 99;
  margin-left: 15px;
  color: white;
  display: flex;
  justify-content: center;
  width: calc(100vw - 30px);
  
}
.paymenthead,.totalhead,.headingmaterial{
  position: relative;
  box-sizing: border-box;
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: center;
  color: white;
}
.titleS{
  position: relative;
  box-sizing: border-box;
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  gap: 20px;
  align-items: center;
}
.titleS input[Type="text"] {
  width: 400px;
  height: 50px;
  font-weight: 800;
  font-size:25px;
  font-family: inherit;
}
.hisabdate{
  font-weight: 800;
  font-size:25px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.PAYMENTTITLE{
  width: 65%
}
.Empty::placeholder  {                                                          
  
    color: red;
    opacity: 1; 
  
}
.Main-Container{
    box-sizing: border-box;
    margin: 0px 20px 5px 20px;
    box-shadow: 0 2 0;
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(18, 71, 71);
    width: calc(100vw - 40px);
}
.Container-Heading{
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-evenly;
    margin: 5px;
}
.Container-Total{
    width: 100%;
    gap: 20px;
    margin: 7px;
    
}
.Total-Heading,.Total-Value{
    gap: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 45%;
    height: 30px;
}


.DELETE{
  background: transparent;
  position: relative;
    color: rgb(199, 83, 83);
    float: right;    
    border: none;

    transition: 400ms;
}
.DELETE:hover{
  cursor: pointer;
  color: rgb(255, 0, 0);
  transform: rotate(180deg);
}

.AddLine-Fabric{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   gap: 5px;
   margin: 5px;
}
.AddLine-Fabric div{
  display: flex;
  flex-direction: column;
  
  
}
.AddLine-Fabric label{
 color: white;
 position: relative;
 top: 10px;
 transition: all 0.2s;
 transform-origin: 0% 0%;
 pointer-events: none;
 left: 10px;
 background: linear-gradient(rgb(18, 71, 71) 50%,rgba(16, 34, 30, 0.836) 50%);
 width:fit-content;
}
#billno{
  border-radius: 10px 0px 0px 0px;
  border-color: white;
  border-right: 0px;
  background: rgba(16, 34, 30, 0.836);
  outline: none;
  color: white;
  height: 30px;
  margin-right: 0px;
  width: 80px;
}
#DocType{
  border-radius: 0px 0px 10px 0px;
  border-color: white;
  border-left: 0px;
  background: rgba(16, 34, 30, 0.836);
  outline: none;
  color: white;
  height: 30px;
  margin-right: 20px;
  width: 70px;
  
}
#billdate{
  border-radius: 10px 0px 0px 0px;
  border-color: white;
  border-right: 0px;
  background: rgba(16, 34, 30, 0.836);
  outline: none;
  color: white;
  height: 30px;
  margin-right: 0px;
  width: 80px;
}
#DocDate{
  border-radius: 0px 0px 10px 0px;
  border-color: white;
  border-left: 0px;
  background: rgba(16, 34, 30, 0.836);
  outline: none;
  color: white;
  height: 30px;
  margin-right: 20px;
  width: 150px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  
}

.Bill-Details{
  display: flex;

}

.AddLine-Fabric input{
  
  border-color: white;
  height: 40px;
  background: rgba(16, 34, 30, 0.836);
  outline: none;
  color: white;
}

.Container-Heading input{
  border-radius: 10px 0px 10px 0px;
  border-color: white;
  background: rgba(16, 34, 30, 0.836);
  outline: none;
  color: white;
}
div.Total-Heading input{
  background-color: rgba(16, 34, 30, 0.836);
  color: rgb(255, 255, 255);
  border-radius: 0px 10px 0px 0px;
  border: 0px;
}
div.Total-Value input{
  background-color: rgba(16, 34, 30, 0.836);
  color: rgb(255, 255, 255);
  border-radius: 0px 0px 0px 10px;
  border: 0px;
  border-top: solid thin white;
}

input{
 min-width: 0;
 text-align: center;
 
}

#btndiv{
    width: 100vw;
    display: flex;
    justify-content: center ;
}
#Adddiv{

    justify-content: end ;
}


/* BTN ADD---------------------------------------------*/
.BtnA {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(48, 177, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px  rgb(35, 131, 23);
  transition-duration: .3s;
  margin: 5px;
}
.BtnM {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(48, 177, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px  rgb(35, 131, 23);
  transition-duration: .3s;
  margin: 5px;
}
.BtnP {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(48, 177, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px  rgb(35, 131, 23);
  transition-duration: .3s;
  margin: 5px;
}
.BtnMX {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(177, 31, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px rgb(94, 16, 16);
  transition-duration: .3s;
  margin: 5px;
}
.BtnPX {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(177, 31, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px rgb(94, 16, 16);
  transition-duration: .3s;
  margin: 5px;
}
.svgMX{
  transform: rotate(45deg);
}
.svgPX{
  transform: rotate(45deg);
}

.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px  rgb(140, 32, 212);
    transition-duration: .3s;
  }

  .svg,.svgM,.svgMX,.svgP,.svgPX,.svgA {
    width: 12px;
    position: absolute;
    right: -6px;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
       
  }
  
  .Btn:hover,.BtnM:hover,.BtnMX,.BtnA {
    color: transparent;
  }
  
  .Btn:hover svg  {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active  {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }
  .BtnA:active  {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(35, 131, 23);
  }
  .BtnM:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(35, 131, 23);
  }
  .BtnP:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(35, 131, 23);
  }
  .BtnMX:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(94, 16, 16);
  }
  .BtnPX:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(94, 16, 16);
  }
  .DeleteBtn {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(235, 78, 78);
    cursor: pointer;
    width: 50px;
    height: 30px;
    transition-duration: 0.3s;
  }
  .DeleteBtn:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(0.9);
  }
 

/*material container -------------------------------------------------*/
.Material-Container{
  margin: 20px 10px 20px 20px;
 }
  .Material-Container{
    box-sizing: border-box;
    box-shadow: 0 2 0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0px 2px 1px black;
    background-color: rgb(27, 38, 73);
    width: calc(100vw - 30px);
}
  .Material-Names, .Material-Value,  .Material-Line,  .Material-Input{
    display: flex;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  .Material-Input input{
    border-radius: 10px 0px 10px 0px;
    border-color: white;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
    margin-left: 5px;
  }
  #DateValue{
    width: 169px;
  }
  .SubTotalM{
    display: flex;
    justify-content: center;
  }

  .Material-Sub{
    display: flex;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  #Material input {
    border-color: white;
    height: 40px;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
    margin-left: 5px;
  }
  .Material-Sub input {
    border-radius: 10px 0px 10px 0px;
    border-color: white;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
    margin-left: 5px;
  }

  #SubtotalMT {
    border-right: none;
    border-radius: 10px 0px 0px 0px;
    border-color: white;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
  }
  #SubtotalM {
    border-left: none;
    border-radius: 0px 0px 10px 0px;
    border-color: white;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
    width: 100PX;
  }

  #DateRate{
    width: 169px;
  }
  #Material  {
    display: flex;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  .Material-Names input{
    border-radius: 0px 0px 10px 0px;
    border-color: white;
    border-top: none;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
    margin-left: 5px;
    
  }
  .Material-Names,  .Material-Line,  .Material-Input,.Material-Sub,.SubTotalM,#Material{
    margin-bottom: 5px;
  }
  #sign{
    margin-bottom: 5px;
    border-bottom: 2px solid white;
  }
  #SlipNoName,#SlipDateName,#sign{
    border-top: 2px solid white;
    border-radius: 10px 0px 10px 0px;
  }
  .Material-Value input{
    border-radius: 10px 0px 0px 0px;
    border-color: white;
    background: rgba(16, 23, 46, 0.863);
    outline: none;
    color: white;
    border-bottom: 0;
    margin-left: 5px;
  }
  #SubtotalMT,#SubtotalM{
    height: 30px;
  }
  
/* payment container -----------------------------------------------------------*/
  .Payment-Container{
      box-sizing: border-box;
      box-shadow: 0 2 0;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 0px 5px 1px black;
      background-color: rgb(104, 28, 28);
      width: calc(65vw - 30px);
      height: fit-content;
  }
/* ammount box of total and payment ---------------------------*/
  .Material-PaymentContainer{
    display: grid;
    grid-template-columns: auto auto;
  
  }

.Payment-Container{
    margin: 20px 20px 20px 10px;

}
input::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}
.Payment-Names,.Payment-Input,.Total-Payment, .Payment-Line , .Total-Payment{
    display: flex;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
   
}
.Payment-Names input, .Payment-Input input ,.Total-Payment input,.Payment-Line input{
  border-radius: 10px 0px 10px 0px;
  border-color: white;
  background: rgb(63, 17, 17);
  outline: none;
  color: white;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 30px;
}
.Payment-Line select,.Payment-Input select{
  border-radius: 10px 0px 10px 0px;
  border-color: white;
  background: rgb(63, 17, 17);
  outline: none;
  color: white;
  margin-left: 5px;

}

.Payment-Line select,.Payment-Input select{
margin-bottom: 5px;
  }
.Payment-Line input[type="date"],.Payment-Input input[type="date"],.Payment-Line select,.Payment-Input select{
width: 170px;
text-align: center;
}
#SNp{
  width: 61px;
}
#SNpi{
  width: 61px;
}
#CashTotalP,#RtgsTotalP,#FinalTotalP{
  border-radius: 10px 0px 0px 0px;
  border-right: none;
  margin-right: 0px;

}
#CashTotalPayment,#RtgsTotalPayment,#FinalTotalPayment{
  border-radius: 0px 0px 10px 0px;
  border-left: none;
  margin-left: 0px;
  width: 82px;
}


/* ammount box of total and payment ---------------------------*/

.Total-Container{
  border-radius: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2 0;
  height: 350px;
  padding: 20px;
  box-shadow: 0 0px 10px 1px black;
  background-color: rgb(89, 22, 102);
  width: calc(30vw - 30px);
  text-align: center;
  margin: 20px;
  gap: 10px;
  
 
}

.OpeningBalanceTax,.OpeningBalanceWithout,.AMTDiv{
  justify-content: center;
  display: flex;
  flex-grow: 0;
  gap: 10px;
  height: 40px;
  align-items: center;
}

h2,h3{
  color: white;
}

.Total-Container input{
  border-radius: 10px 0px 10px 0px;
  height: 30px;
}

.pmt,.op{
  border-radius: 10px 0px 10px 0px;
  background-color: rgb(47, 12, 54);
  padding: 10px;
}