*{
    margin: 0px;
    padding: 0px;
}


.Main-Container{
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0 2 0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0px 10px 1px black;
    background-color: aqua;
    width: calc(100vw - 40px);
}
.Container-Heading{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-evenly;
    margin: 7px;
}
.Container-Total{
    width: 100%;
    gap: 20px;
    margin: 7px;
    
}
.Total-Heading,.Total-Value{
    gap: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 45%;
    height: 30px;
}

.DELETE{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: brown;
    color: white;
    border: 0PX;
    float: right;    
}

.AddLine-Fabric{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   height: 30px;
   gap: 20px;
   margin: 7px;
}
input{
 min-width: 0;
 text-align: center;
 
}

#btndiv{
    width: 100vw;
    display: flex;
    justify-content: center ;
}
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: .3s;
  }
  
  .svg {
    width: 14px;
    position: absolute;
    right: -6px;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
    
  }
  
  .Btn:hover {
    color: transparent;
  }
  
  .Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }









/* Note that you only needs to edit the config to customize the button! */

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #000000;
    overflow: hidden;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }



  .DeleteBtn {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(235, 78, 78);
    cursor: pointer;
    width: 50px;
    height: 30px;
    transition-duration: 0.3s;
  }

 
  
  .DeleteBtn:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(0.9);
  }
 