*{
    margin: 0px;
    padding: 0px;
}
body{
  background-color: rgb(26, 22, 22);
}
input[type="date"] {
  padding: 8px  solid;
  font-size: 16px;
}
.Empty::placeholder  {
  
    color: red;
    opacity: 1; 
  
}
.Main-Container{
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0 2 0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0px 10px 1px black;
    background-color: rgb(18, 71, 71);
    width: calc(100vw - 40px);
}
.Container-Heading{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-evenly;
    margin: 7px;
}
.Container-Total{
    width: 100%;
    gap: 20px;
    margin: 7px;
    
}
.Total-Heading,.Total-Value{
    gap: 10px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 45%;
    height: 30px;
}

.DELETE{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: brown;
    color: white;
    border: 0PX;
    float: right;    
}

.AddLine-Fabric{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   height: 30px;
   gap: 20px;
   margin: 7px;
}
input{
 min-width: 0;
 text-align: center;
 
}

#btndiv{
    width: 100vw;
    display: flex;
    justify-content: center ;
}


/* BTN ADD */
.BtnM {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(48, 177, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px  rgb(35, 131, 23);
  transition-duration: .3s;
  margin: 5px;
}
.BtnP {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(48, 177, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px  rgb(35, 131, 23);
  transition-duration: .3s;
  margin: 5px;
}
.BtnMX {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(177, 31, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px rgb(94, 16, 16);
  transition-duration: .3s;
  margin: 5px;
}
.BtnPX {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(177, 31, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 0px rgb(94, 16, 16);
  transition-duration: .3s;
  margin: 5px;
}
.svgMX{
  transform: rotate(45deg);
}
.svgPX{
  transform: rotate(45deg);
}

.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px  rgb(140, 32, 212);
    transition-duration: .3s;
  }

  .svg,.svgM,.svgMX,.svgP,.svgPX {
    width: 12px;
    position: absolute;
    right: -6px;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
       
  }
  
  .Btn:hover,.BtnM:hover,.BtnMX {
    color: transparent;
  }
  
  .Btn:hover svg  {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn:active  {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }
  .BtnM:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(35, 131, 23);
  }
  .BtnP:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(35, 131, 23);
  }
  .BtnMX:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(94, 16, 16);
  }
  .BtnPX:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 0px 0px 0px rgb(94, 16, 16);
  }






  .DeleteBtn {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(235, 78, 78);
    cursor: pointer;
    width: 50px;
    height: 30px;
    transition-duration: 0.3s;
  }

 
  
  .DeleteBtn:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(0.9);
  }
 
  .Material-Names{
    display: flex;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
   
    
  }
  .Material-value{
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    
  }
  .Material-Names input{
   min-width: 0;
  }
  
  .Material-Container{
      box-sizing: border-box;

      box-shadow: 0 2 0;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 0px 10px 1px black;
      background-color: rgb(27, 38, 73);
      width: calc(100vw - 30px);
  }
  .Payment-Container{
      box-sizing: border-box;

      box-shadow: 0 2 0;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 0px 10px 1px black;
      background-color: rgb(104, 28, 28);
      width: calc(65vw - 30px);
  }

  .Material-PaymentContainer{
    display: grid;
    grid-template-columns: auto auto;
    

  }
  .Material-Container{
    margin: 20px 10px 20px 20px;

}
.Payment-Container{
    margin: 20px 20px 20px 10px;

}


input::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.SubTotalM{
  display: flex;
  justify-content: center;
}

.Material-Container input {
  margin: 2px;
  gap: 2px;
}
#SubtotalMT,#SubtotalM{
  height: 30px;
}

.AMTDiv{
  justify-content: center;
  display: flex;
  flex-grow: 0;
  gap: 10px;
}
.Total-Container{
  display: flex;
  flex-direction: column;
  box-shadow: 0 2 0;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0px 10px 1px black;
  background-color: rgb(89, 22, 102);
  width: calc(30vw - 30px);
  text-align: center;
  margin: 20px;
  gap: 10px;
 
  
}
